.places {
    margin: auto;
    margin-top: 12px;
}
@media screen and (max-width: 768px) {
  .places {
    width: 720px;
  }  
}
@media screen and (max-width: 425px) {
  .places {
    max-width: 90%;
    margin: auto;
    margin-top: 64px;
  }  
}
