/* CHANGE the ru and en signs move in 768px and over 1280px */
.header {
  width: 93%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 28px;
  margin: auto;
}
@media (max-width: 1024px) {
  .header {
    width: 90%;
    padding-top: 28px;
  }
}
@media (max-width: 768px) {
  .header {
    width: 94%;
  }
}
@media (max-width: 425px) {
  .header {
    width: 90%;
    padding-top: 16px;
  }  
}