/* CHANGE the ru and en signs move in 768px and over 1280px */
.header {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  padding-top: 28px;
  min-height: 52px;
  width: 93%;
  margin: auto;
 
}
@media (max-width: 1024px) {
  .header {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .header {
    width: 94%;
  }
}
@media (max-width: 425px) {
  .header {
    width: 90%;
    min-height: 42px;
    padding-top: 16px;
  }  
}