.footer__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    padding-top: 92px;
}
@media screen and (max-width: 720px) {
    .footer__links {
        padding-top: 88px;
    }  
}
@media screen and (max-width: 630px) {
    .footer__links {
        padding-top: 64px;
        flex-direction: column;
        align-content: space-between;
    }  
}
@media screen and (max-width: 425px) {
    .footer__links {
        max-width: 186px;
    }  
}