.lead__image { 
  box-sizing: border-box;
  object-fit: contain;
  width: 100%;
  margin-top: 64px;
 
}
@media screen and (max-width: 1024px) {
  .lead__image {
    margin-top: 56px;
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .lead__image {
    max-width: 100%;
    max-height: 100%;
    margin-top: 56px;
  }
}
@media screen and (max-width: 425px) {
  .lead__image {
    max-width: 320px;
    margin-top: 40px;
    padding-left: 0;
  }
}