.place {
    width: 100%;
    display: grid;
    grid-template-columns: 47% 49%;
    grid-template-rows:  minmax(min-content, max-content) minmax(min-content, max-content);
    column-gap: 40px;
    row-gap: 48px;
    margin: auto;
    margin-top: 80px;
}
@media screen and (max-width: 1024px) {
  .place {
    column-gap: 32px;
  }  
}
@media screen and (max-width: 768px) {
  .place {
    column-gap: 28px;
  }  
}
@media screen and (max-width: 725px) {
  .place {
    margin-top: 100px;
  }  
}
@media screen and (max-width: 725px) {
  .place {
    margin-top: 100px;
  }  
}
@media screen and (max-width: 600px) {
  .place {
    margin-top: 100px;
    grid-template-columns: 100%;
    grid-template-rows: 35px minmax(min-content, max-content) minmax(min-content, max-content);
    column-gap: 0;
    row-gap: 48px;
  }  
}
/*
@media screen and (max-width: 425px) {
  .place {
    grid-template-columns: 100%;
    grid-template-rows: 35px minmax(min-content, max-content) minmax(min-content, max-content);
    column-gap: 0;
    row-gap: 48px;
  }  
}