.footer {
    width: 93%;
    align-items: baseline;
    box-sizing: border-box;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 24px;
}
@media screen and (max-width: 1024px) {
    .footer {
        width: 91%;
    }  
}
@media screen and (max-width: 768px) {
    .footer {
        width: 94%;
    }  
}
@media screen and (max-width: 425px) {
    .footer {
        width: 58%;
        flex-flow: column;
        margin-left: 16px;
    }
}